* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.masini {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
h1 {
  color: goldenrod;
  padding: 10px;
}
h2 {
  padding: 100px 250px 0px 250px;
  color: white;
}
.preturi {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
span {
  padding-left: 300px;
  padding-right: 300px;
  color: goldenrod;
  font-weight: bold;
  font-size: 25px;
}
.imagini {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
img {
  height: 250px;
  width: 500px;
}
button {
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  border-color: goldenrod;
  background: none;
  color: white;
  border-radius: 50px;
  transition: 0.25s ease-in-out;
}
button:hover {
  color: goldenrod;
  background: white;
}
select {
  color: goldenrod;
  background: black;
  border: none;
  border-radius: 50px;
  padding: 15px 5px 15px 5px;
}
